In [2]:
import pandas as pd
dataset = ["citeseer", "pubmed"]
for name in dataset:
    with open("./log_M1_epoch200/best_metric_{}_M1_epoch200.txt".format(name), "r") as f:
        data = f.read()
    data = data.split("\n")
    data = [_.strip() for _ in data if len(_) > 0]
    data = [_.split(",") for _ in data]
    data = [{i.split("=")[0].strip(): float(i.split("=")[1].strip()) for i in line} for line in data]
    data = pd.DataFrame(data)
    data.drop_duplicates(inplace=True)
    data.sort_values(by="Acc", ascending=False, inplace=True)
    data.to_csv("metric_{}.csv".format(name), index=0)
    print(name)
    # print(data["Acc"].std(), data["NMI"].std(), data["ARI"].std())

citeseer
pubmed

In [6]:
data

        lr  alpha    M    id     Acc     NMI     ARI
88   0.001    0.5  0.0   9.0  0.7061  0.3094  0.3354
100  0.001    0.9  0.0   1.0  0.7049  0.3116  0.3286
62   0.001    0.2  0.0   3.0  0.7040  0.3051  0.3272
51   0.001    0.1  0.0   2.0  0.7030  0.3112  0.3267
89   0.001    0.5  0.0  10.0  0.7028  0.3025  0.3258
..     ...    ...  ...   ...     ...     ...     ...
52   0.001    0.1  0.0   3.0  0.6430  0.2492  0.2347
134  0.001    2.0  0.0   5.0  0.6428  0.2393  0.2278
5    0.001    0.0  0.0   6.0  0.6411  0.2429  0.2285
86   0.001    0.5  0.0   7.0  0.6409  0.2441  0.2288
151  0.001   10.0  0.0   2.0  0.6405  0.2390  0.2241

[166 rows x 7 columns]

In [4]:
import pandas as pd
dataset = ["cora", "citeseer", "pubmed"]
for name in dataset:
    with open("../pamil-ppo/log/best_metric_{}.txt".format(name), "r") as f:
        data = f.read()
    data = data.split("\n")
    data = [_.strip() for _ in data if len(_) > 0]
    data = [_.split(",") for _ in data]
    data = [{i.split("=")[0].strip(): float(i.split("=")[1].strip()) for i in line} for line in data]
    data = pd.DataFrame(data)
    data.drop_duplicates(inplace=True)
    data.sort_values(by="Acc", ascending=False, inplace=True)
    # data.to_csv("metric_{}.csv".format(name), index=0)
    print(name)
    print(data["Acc"].std(), data["NMI"].std(), data["ARI"].std())

cora
0.013887724954931914 0.012163504641576482 0.021249886784432584
citeseer
0.01911071522405487 0.01704305697706622 0.02163589835817693
pubmed
0.008234277948510912 0.00871225190942809 0.011158404903927808

In [6]:
data.sort_values(by="ARI", ascending=False).head(10)

       lr  alpha   id     Acc     NMI     ARI
54  0.001   0.30  5.0  0.6948  0.3018  0.3124
38  0.001   0.10  9.0  0.6770  0.3008  0.2921
11  0.001   0.01  2.0  0.6798  0.3010  0.2888
30  0.001   0.10  1.0  0.6766  0.2802  0.2796
27  0.001   0.05  8.0  0.6731  0.2814  0.2775
62  0.001   0.50  3.0  0.6712  0.2788  0.2763
53  0.001   0.30  4.0  0.6698  0.2827  0.2740
74  0.001   0.70  5.0  0.6719  0.2772  0.2736
35  0.001   0.10  6.0  0.6597  0.2999  0.2724
45  0.001   0.20  6.0  0.6574  0.2865  0.2697

In [25]:
import pandas as pd
for name in ["cora", "citeseer"]:
    df = pd.read_csv("../pamil/metric_result/metric_{}.csv".format(name))
    print("cluster : ", name , round(df["Acc"].std(), 6), round(df["NMI"].std(), 6), round(df["ARI"].std(), 6))


for name in ["cora", "citeseer"]:
    df = pd.read_csv("../pamil-ppo/metric_result/metric_{}.csv".format(name))
    print("ppo-cluster : ", name , round(df["Acc"].std(), 6), round(df["NMI"].std(), 6), round(df["ARI"].std(), 6))

cluster :  cora 0.0139 0.0112 0.0211
cluster :  citeseer 0.0197 0.0181 0.0234
ppo-cluster :  cora 0.013891 0.011161 0.021062
ppo-cluster :  citeseer 0.019687 0.018146 0.023395

In [14]:
import pandas as pd
df = pd.read_csv("liblinear_clf.csv")
for name in ["cora", "citeseer"]:
    std_ = df.loc[df["dataset"]==name, "cv_acc"].std()
    print("liblinear:", name, ", cv_acc_std = ", std_)
df = pd.read_csv("libsvm_clf.csv")
for name in ["cora", "citeseer"]:
    std_ = df.loc[df["dataset"]==name, "cv_acc"].std()
    print("libsvm:", name, ", cv_acc_std = ", std_)
print()
print()
import pandas as pd
df = pd.read_csv("../pamil-ppo/liblinear_clf.csv")
for name in ["cora", "citeseer"]:
    std_ = df.loc[df["dataset"]==name, "cv_acc"].std()
    print("PPO-liblinear:", name, ", cv_acc_std = ", std_)
df = pd.read_csv("../pamil-ppo/libsvm_clf.csv")
for name in ["cora", "citeseer"]:
    std_ = df.loc[df["dataset"]==name, "cv_acc"].std()
    print("PPO-libsvm:", name, ", cv_acc_std = ", std_)

liblinear: cora , cv_acc_std =  1.3270618560260117
liblinear: citeseer , cv_acc_std =  0.6082975257787178
libsvm: cora , cv_acc_std =  0.9774137432415813
libsvm: citeseer , cv_acc_std =  0.6876314019573624


PPO-liblinear: cora , cv_acc_std =  1.4525874353363069
PPO-liblinear: citeseer , cv_acc_std =  0.6261001089411361
PPO-libsvm: cora , cv_acc_std =  0.8845607273684406
PPO-libsvm: citeseer , cv_acc_std =  0.6899220158374216